* {
	margin: 0;
	border: 0;
	padding: 0;
}

#container {
	background: linear-gradient(to right, #4f5937, #555f3c, #525c3a, #535d3a, #505a38, #4f5937, #555f3c, #525c3a, #535d3a, #505a38, #4f5937, #555f3c, #525c3a, #535d3a, #505a38, #4f5937, #555f3c, #525c3a, #535d3a, #505a38, #4f5937, #555f3c, #525c3a, #535d3a, #505a38, #4f5937, #555f3c, #525c3a, #535d3a, #505a38, #4f5937, #555f3c, #525c3a, #535d3a, #505a38, #4f5937, #555f3c, #525c3a, #535d3a, #505a38, #4f5937, #555f3c, #525c3a, #535d3a, #505a38, #4f5937, #555f3c, #525c3a, #535d3a, #505a38, #4f5937, #555f3c, #525c3a, #535d3a, #505a38, #4f5937, #555f3c, #525c3a, #535d3a, #505a38, #4f5937, #555f3c, #525c3a, #535d3a, #505a38, #4f5937, #555f3c, #525c3a, #535d3a, #505a38, #4f5937, #555f3c, #525c3a, #535d3a, #505a38 );
	text-align: center;
	padding-bottom: 5%;
}

h1 {
	font-size: 4em;
	color: #efefef;
	text-shadow: 2px 2px 0px #3f3e3c;
	padding: 25px 0;
	font-family: 'Playfair Display SC', serif;
	letter-spacing: 3px;
}


#navigation {
	list-style-type: none;
	padding: 4px 0;
	background: linear-gradient(to bottom, #3c3b39, #242321);
	width: 85%;
	height: 40px;
	margin: 0 auto;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}

li {
	display: inline;
	margin: 0 8px;
	font-size: 0.9em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

a:link {
	text-decoration: none;
	color: #efefef;
}

a:visited {
	text-decoration: none;
	color: #efefef;
}

a:hover {
	text-decoration: none;
	color: #8fa35f;
}

.navigation_divider {
	color: #c2c2c2;
	font-size: 1.5em;
	text-shadow: 1px 1px 0px #050505;
}

#carousel img {
	width: 75%;
}

#content {
	background-color: #efefef;
	width: 85%;
	float: center;
	margin: 0 auto;
	padding: 25px 0;
}

#tel {
	font-size: 2.5em;
	text-align: left;
	margin: 30px 0;
	color: #3f3e3c

}

#side_picture {
	float: right;
	margin: 0 0 0 40px;
}

#site_description {
	width: 95%;
	float: center;
	margin: 0 auto;
	text-align: left;
	font-size: 1.2em;
	color: #3f3e3c;
	max-width: 800px;
}

form {
	margin-top: 20px;
	font-size: 1.1em;
}

footer {
	background: linear-gradient(to bottom, #3c3b39, #242321);
	width: 85%;
	float: center;
	margin: 0 auto 50px auto;
	padding: 25px 0;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	color: #efefef;
}

.center{
	text-align: center;
}

/*Slider styling*/

#slider {
	width: 800px;
	height: 600px;
	overflow: hidden;
	margin: 0 auto;
}

#slider > img {
	width: 800px;
	height: 600px;
	float: left;
	display: none;
}

a > #site_description {
	padding: 5px 10px;
	background-color: pink;
	margin-top: 30px;
	text-decoration: none;

}

a.left{
	float: left;
}

a.right{
	float: right;
}
